<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LadderVersion" value="v0.0.1"/>
		<add key="LadderPostUrl" value="https://localhost:44347/ladder/post"/>
		<add key="LadderPostUrlRemote" value="https://project-boost.mirtyn.be/ladder/post"/>
	</appSettings>
</configuration>