<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="LadderVersion" value="0.1.8"/>
		<add key="LadderPostUrl" value="https://localhost:5001/ladder/post"/>
		<add key="LadderPostUrlLocal" value="https://localhost:5001/ladder/post"/>
		<add key="LadderPostUrlRemote" value="https://project-boost.mirtyn.be/ladder/post"/>
	</appSettings>
</configuration>