
<div class="row mb-4">
    <div class="col-12">
        <div class="card card-cover overflow-hidden rounded-4 shadow-lg">
            <div class="row">
                <div class="col-12 col-lg-4 col-rounded-shooter" style="">
                   <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold">Rounded Shooter</h3>
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-lg-6 pt-4 pb-4">
                            <h3>Current ladder</h3>
                            <ul>
                                <li><a href="/rounded-shooter">View ladder</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 pt-4 pb-4">
                            <h3>Downloads</h3>
                            <ul>
                                <li><a href="/data/rounded-shooter/downloads/Rounded-Shooter-version-0.2.0-Windows-Installer.exe">Beta v0.2.0 Installer (Windows)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-cover overflow-hidden rounded-4 shadow-lg">
            <div class="row">
                <div class="col-12 col-lg-4 col-project-boost" style="">
                   <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-1 mt-1 mb-4 display-6 lh-1 fw-bold">Project Boost</h3>
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-lg-6 pt-4 pb-4">
                            <h3>Current ladder</h3>
                            <ul>
                                <li><a href="/project-boost">Competitive</a></li>
                                <li><a href="/project-boost">Competitive | Real Landing</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 pt-4 pb-4">
                            <h3>Downloads</h3>
                            <ul>
                                <li><a href="/data/project-boost/downloads/setup-project-boost-v0.1.1.exe">Beta v0.1.1 Installer (Windows)</a></li>
                                <li><a href="/data/project-boost/downloads/project-boost-v0.1.1.zip">Beta v0.1.1 Zipped executable (Windows)</a></li>
                                <li><a target="_blank" href="/data/project-boost/downloads/read-me-project-boost-v0.1.1.txt">How to Play? - Read me!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
