@model LadderPostEntryViewModel

@{
    ViewData["Title"] = "Post Test";
}

<div class="row">
    <div class="col-12 col-md-6 col-lg-3">
        <a class="btn btn-primary" href="@Url.Action("PostTestV100")">Test v1.0.0</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <a class="btn btn-primary" href="@Url.Action("PostTestV011")">Test v0.1.1</a>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <a class="btn btn-primary" href="@Url.Action("PostTestV010")">Test v0.1.0</a>
    </div>
</div>