@model LadderViewModel<RoundedShooter.Ladder>

@{ 
    void DisplayLadder(string title, IEnumerable<RoundedShooter.Ladder.Entry> entries)
    {
        <h5>@title</h5>
        if(entries != null)
        {
            <ol>
                @foreach (var entry in entries)
                {
                    <li>
                        @entry.Name: @entry.PointsDescription() pts.
                    </li>
                }
            </ol>
        }
    }
}

<div class="row">
    @if(Model.Ladder != null)
    {
        <div class="col-12">
            <h4>Ladder @Model.Ladder.Version</h4>
        </div>

        var entries = Model.Ladder.EntriesFor(RoundedShooter.Ladder.Flag.None);

        if(entries != null && entries.Count > 0)
        {
            <div class="col-12 col-lg-6">
                @{DisplayLadder("", entries); }
            </div>
        }
    }
</div>