@model LadderViewModel<RoundedShooter.Ladder>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-md-6 col-lg-9">
        <partial name="LadderPartial">
        <div>
            <a class="btn btn-primary" href="/">Back</a>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        @if(Model.SavedLadderVersions.Count > 0)
        {
            <h4>Other ladders</h4>
            <ul>
                @foreach (var ladder in Model.SavedLadderVersions)
               {
                    <li><a href="/rounded-shooter/ladder/@ladder">@ladder</a></li>
               }
            </ul>
        }
        <partial name="DownloadsPartial">
    </div>
</div>