@model LadderViewModel

@{
    ViewData["Title"] = "Ladder" + Model.Ladder.Version;
}

<div class="row">
    <div class="col-12 col-md-6 col-lg-9">
        <partial name="LadderPartial">
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        @if(Model.SavedLadderVersions.Count > 0)
        {
            <h4>Older ladders</h4>
            <ul>
                @foreach (var ladder in Model.SavedLadderVersions)
               {
                    <li><a href="/ladder/@ladder">@ladder</a></li>
               }
            </ul>
        }
        <partial name="DownloadsPartial">
    </div>
</div>